<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinates</key>
	<dict>
		<key>chip</key>
		<dict>
			<key>position</key>
			<dict>
				<key>x</key>
				<string>52</string>
				<key>y</key>
				<string>46</string>
			</dict>
			<key>size</key>
			<dict>
				<key>x</key>
				<string>48</string>
				<key>y</key>
				<string>48</string>
			</dict>
			<key>length</key>
			<string>70</string>
		</dict>
		<key>money</key>
		<dict>
			<key>position</key>
			<dict>
				<key>x</key>
				<string>108</string>
				<key>y</key>
				<string>59</string>
			</dict>
			<key>size</key>
			<dict>
				<key>x</key>
				<string>226</string>
				<key>y</key>
				<string>27</string>
			</dict>
			<key>length</key>
			<string>228</string>
		</dict>
		<key>buttonToLobby</key>
		<dict>
			<key>position</key>
			<dict>
				<key>x</key>
				<string>35</string>
				<key>y</key>
				<string>120</string>
			</dict>
			<key>size</key>
			<dict>
				<key>x</key>
				<string>132</string>
				<key>y</key>
				<string>32</string>
			</dict>
		</dict>
		<key>buttonStandUp</key>
		<dict>
			<key>position</key>
			<dict>
				<key>x</key>
				<string>35</string>
				<key>y</key>
				<string>170</string>
			</dict>
			<key>size</key>
			<dict>
				<key>x</key>
				<string>132</string>
				<key>y</key>
				<string>32</string>
			</dict>
		</dict>
		<key>buttonNewTable</key>
		<dict>
			<key>position</key>
			<dict>
				<key>x</key>
				<string>35</string>
				<key>y</key>
				<string>220</string>
			</dict>
			<key>size</key>
			<dict>
				<key>x</key>
				<string>132</string>
				<key>y</key>
				<string>32</string>
			</dict>
		</dict>
		<key>p1TopLeftCorner</key>
		<dict>
			<key>position</key>
			<dict>
				<key>x</key>
				<string>189</string>
				<key>y</key>
				<string>234</string>
			</dict>
			<key>size</key>
			<dict>
				<key>x</key>
				<string>141</string>
				<key>y</key>
				<string>196</string>
			</dict>
		</dict>
		<key>p2TopTopLeft</key>
		<dict>
			<key>position</key>
			<dict>
				<key>x</key>
				<string>495</string>
				<key>y</key>
				<string>120</string>
			</dict>
			<key>size</key>
			<dict>
				<key>x</key>
				<string>141</string>
				<key>y</key>
				<string>196</string>
			</dict>
		</dict>
		<key>p3TopTopRight</key>
		<dict>
			<key>position</key>
			<dict>
				<key>x</key>
				<string>950</string>
				<key>y</key>
				<string>120</string>
			</dict>
			<key>size</key>
			<dict>
				<key>x</key>
				<string>141</string>
				<key>y</key>
				<string>196</string>
			</dict>
		</dict>
		<key>p4TopRightCorner</key>
		<dict>
			<key>position</key>
			<dict>
				<key>x</key>
				<string>1279</string>
				<key>y</key>
				<string>236</string>
			</dict>
			<key>size</key>
			<dict>
				<key>x</key>
				<string>141</string>
				<key>y</key>
				<string>196</string>
			</dict>
		</dict>
		<key>p5BottomRightCorner</key>
		<dict>
			<key>position</key>
			<dict>
				<key>x</key>
				<string>1269</string>
				<key>y</key>
				<string>520</string>
			</dict>
			<key>size</key>
			<dict>
				<key>x</key>
				<string>141</string>
				<key>y</key>
				<string>196</string>
			</dict>
		</dict>
		<key>p6BottomRight</key>
		<dict>
			<key>position</key>
			<dict>
				<key>x</key>
				<string>999</string>
				<key>y</key>
				<string>590</string>
			</dict>
			<key>size</key>
			<dict>
				<key>x</key>
				<string>141</string>
				<key>y</key>
				<string>196</string>
			</dict>
		</dict>
		<key>p7BottomMidSelf</key>
		<dict>
			<key>position</key>
			<dict>
				<key>x</key>
				<string>729</string>
				<key>y</key>
				<string>640</string>
			</dict>
			<key>size</key>
			<dict>
				<key>x</key>
				<string>141</string>
				<key>y</key>
				<string>196</string>
			</dict>
		</dict>
		<key>p8BottomLeft</key>
		<dict>
			<key>position</key>
			<dict>
				<key>x</key>
				<string>469</string>
				<key>y</key>
				<string>590</string>
			</dict>
			<key>size</key>
			<dict>
				<key>x</key>
				<string>141</string>
				<key>y</key>
				<string>196</string>
			</dict>
			<key>length</key>
			<string>249</string>
		</dict>
		<key>p9BottomLeftCorner</key>
		<dict>
			<key>position</key>
			<dict>
				<key>x</key>
				<string>199</string>
				<key>y</key>
				<string>520</string>
			</dict>
			<key>size</key>
			<dict>
				<key>x</key>
				<string>141</string>
				<key>y</key>
				<string>196</string>
			</dict>
		</dict>
		<key>buttonActionTopLeft</key>
		<dict>
			<key>position</key>
			<dict>
				<key>x</key>
				<string>518</string>
				<key>y</key>
				<string>870</string>
			</dict>
			<key>size</key>
			<dict>
				<key>x</key>
				<string>256</string>
				<key>y</key>
				<string>44</string>
			</dict>
		</dict>
		<key>buttonActionTopRight</key>
		<dict>
			<key>position</key>
			<dict>
				<key>x</key>
				<string>790</string>
				<key>y</key>
				<string>870</string>
			</dict>
			<key>size</key>
			<dict>
				<key>x</key>
				<string>256</string>
				<key>y</key>
				<string>44</string>
			</dict>
		</dict>
		<key>buttonActionBottomLeft</key>
		<dict>
			<key>position</key>
			<dict>
				<key>x</key>
				<string>518</string>
				<key>y</key>
				<string>926</string>
			</dict>
			<key>size</key>
			<dict>
				<key>x</key>
				<string>256</string>
				<key>y</key>
				<string>44</string>
			</dict>
		</dict>
		<key>buttonActionBottomRight</key>
		<dict>
			<key>position</key>
			<dict>
				<key>x</key>
				<string>790</string>
				<key>y</key>
				<string>926</string>
			</dict>
			<key>size</key>
			<dict>
				<key>x</key>
				<string>256</string>
				<key>y</key>
				<string>44</string>
			</dict>
		</dict>
		<key>pleaseWaitPlayerContainer</key>
		<dict>
			<key>position</key>
			<dict>
				<key>x</key>
				<string>516</string>
				<key>y</key>
				<string>990</string>
			</dict>
			<key>size</key>
			<dict>
				<key>x</key>
				<string>532</string>
				<key>y</key>
				<string>100</string>
			</dict>
		</dict>
		<key>pleaseWaitPlayerText</key>
		<dict>
			<key>position</key>
			<dict>
				<key>x</key>
				<string>595</string>
				<key>y</key>
				<string>1024</string>
			</dict>
			<key>size</key>
			<dict>
				<key>x</key>
				<string>375</string>
				<key>y</key>
				<string>34</string>
			</dict>
		</dict>
		<key>buttonChatSend</key>
		<dict>
			<key>position</key>
			<dict>
				<key>x</key>
				<string>1434</string>
				<key>y</key>
				<string>1118</string>
			</dict>
			<key>size</key>
			<dict>
				<key>x</key>
				<string>98</string>
				<key>y</key>
				<string>45</string>
			</dict>
		</dict>
		<key>tableBlindsSize</key>
		<dict>
			<key>position</key>
			<dict>
				<key>x</key>
				<string>1410</string>
				<key>y</key>
				<string>760</string>
			</dict>
			<key>size</key>
			<dict>
				<key>x</key>
				<string>127</string>
				<key>y</key>
				<string>25</string>
			</dict>
		</dict>
		<key>p2TableCards</key>
		<dict>
			<key>position</key>
			<dict>
				<key>x</key>
				<string>647</string>
				<key>y</key>
				<string>298</string>
			</dict>
			<key>size</key>
			<dict>
				<key>x</key>
				<string>16</string>
				<key>y</key>
				<string>10</string>
			</dict>
		</dict>
		<key>p4TableCards</key>
		<dict>
			<key>position</key>
			<dict>
				<key>x</key>
				<string>1137</string>
				<key>y</key>
				<string>328</string>
			</dict>
			<key>size</key>
			<dict>
				<key>x</key>
				<string>16</string>
				<key>y</key>
				<string>10</string>
			</dict>
		</dict>
		<key>p9TableCards</key>
		<dict>
			<key>position</key>
			<dict>
				<key>x</key>
				<string>357</string>
				<key>y</key>
				<string>508</string>
			</dict>
			<key>size</key>
			<dict>
				<key>x</key>
				<string>16</string>
				<key>y</key>
				<string>10</string>
			</dict>
		</dict>
		<key>tableCard1</key>
		<dict>
			<key>position</key>
			<dict>
				<key>x</key>
				<string>589</string>
				<key>y</key>
				<string>401</string>
			</dict>
			<key>size</key>
			<dict>
				<key>x</key>
				<string>27</string>
				<key>y</key>
				<string>61</string>
			</dict>
		</dict>
		<key>tableCard2</key>
		<dict>
			<key>position</key>
			<dict>
				<key>x</key>
				<string>669</string>
				<key>y</key>
				<string>401</string>
			</dict>
			<key>size</key>
			<dict>
				<key>x</key>
				<string>27</string>
				<key>y</key>
				<string>61</string>
			</dict>
		</dict>
		<key>tableCard3</key>
		<dict>
			<key>position</key>
			<dict>
				<key>x</key>
				<string>749</string>
				<key>y</key>
				<string>401</string>
			</dict>
			<key>size</key>
			<dict>
				<key>x</key>
				<string>27</string>
				<key>y</key>
				<string>61</string>
			</dict>
		</dict>
		<key>tableCard4</key>
		<dict>
			<key>position</key>
			<dict>
				<key>x</key>
				<string>829</string>
				<key>y</key>
				<string>401</string>
			</dict>
			<key>size</key>
			<dict>
				<key>x</key>
				<string>27</string>
				<key>y</key>
				<string>61</string>
			</dict>
		</dict>
		<key>tableCard5</key>
		<dict>
			<key>position</key>
			<dict>
				<key>x</key>
				<string>909</string>
				<key>y</key>
				<string>401</string>
			</dict>
			<key>size</key>
			<dict>
				<key>x</key>
				<string>27</string>
				<key>y</key>
				<string>61</string>
			</dict>
		</dict>
		<key>tablePotMain</key>
		<dict>
			<key>position</key>
			<dict>
				<key>x</key>
				<string>722</string>
				<key>y</key>
				<string>534</string>
			</dict>
			<key>size</key>
			<dict>
				<key>x</key>
				<string>110</string>
				<key>y</key>
				<string>24</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
